body {
    background-color: black;
    background-image: url(../img/simple_dashed_@2X.png);
}
.p {
    padding-top: 50px;
    padding-bottom: 50px
}
.kitu {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 70%;
}
.space {
    height: 5%;
}
.story {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 5px;
    border-color: deeppink;
    width: 66.8%;
    height: 40%;
    color: white;
    font-size: 2em;
}
.mimi {
    width: 16.6%
}
.img {
    border: 5px;
    border-color: deeppink;
    height: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    min-width: 200px;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

li a:hover {
    background-color: #555;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
}
.footer {
    padding-bottom: 50px;
    padding-top: 50px;
    width: auto;
    border: 5px;
    border-color: deeppink;
    background-color: darkolivegreen;
    height: 25%;
    color: deeppink;
}
